@use 'variables' as *; // 引入變數
.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;

  span {
    flex-grow: 1;
  }
  div {
    justify-items: end;
    padding: 0 1rem;
  }

  .deleteButton {
    background: $secondary-color;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background: $secondary-hover-color;
    }
  }
}
